
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');


body {
  margin: 0;
  background-color: hsl(217, 54%, 11%);
  font-size: 18px;
  font-family: 'Outfit', 'Times New Roman', Times, serif;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  color: hsl(215, 32%, 27%);
}


.box {
  width: 280px;
  height: 480px;
  background-color: hsl(216, 50%, 16%);
  border-radius: 12px;
  display: grid;
  place-items: center;
  box-shadow: rgb(85, 91, 255) 0px 0px 0px 3px, rgb(31, 193, 27) 0px 0px 0px 6px, rgb(255, 217, 19) 0px 0px 0px 9px, rgb(255, 156, 85) 0px 0px 0px 12px, rgb(255, 85, 85) 0px 0px 0px 15px;
  /* box-shadow: (217deg 54% 10%) 0px 16px 3px 16px, hsl(217deg 55% 12%) 2px 20px 3px 30px; */
}

.container-box {
  width: 246px;
  margin: 17px 0px 17px 0px;
}

.cube {
  width: 246px;
  border-radius: 8px;
  
}

.container-box h1 {
  color: hsl(215, 51%, 70%);
  font-size: 18px;
  color: white;
}

.box p{
  font-size: 15px;
  color: hsl(215, 51%, 70%);
}

.info {
  display: flex;
  justify-content: space-between;

}

.info-price img {
  width: 10px;
  margin-right: 6px;
}

.info-price p{
  font-size: 12px;
  display: flex;
  color: hsl(178, 100%, 50%);
}

.info-time img{
  width: 15px;
  margin-right: 6px;
}

.info-time p{
  font-size: 12px;
  display: flex;
}

.line {
  width: 100%;
  height: 0.5px;
  background-color:hsl(215, 32%, 27%);
}

footer p{
  display: flex;
  align-items: center;
}

.photo{
  height: 25px;
  display: flex;
  margin-right: 10px;
  border: 1px solid #fff;
  border-radius: 50%;
}

.change-color {
  margin-left: 3px;
  color: white;
}